.form-root {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}
.form-rigth {
	width: 420px;
	border: 1px solid gray;
}

.form-auto {
	display: flex;
	gap: 0 12px;
	flex-wrap: wrap;
	max-width: 730px;
}

.form-pair {
	display: flex;
	flex-wrap: wrap;
	gap: 0 12px;
}

.input-group {
	min-width: 315px;
}
