.form-root {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}
.form-rigth {
	width: 420px;

	border: 1px solid var(--el-border-color);
}

.form-auto {
	display: flex;
	gap: 0 12px;
	flex-wrap: wrap;
	max-width: 730px;
}

.form-pair {
	display: flex;
	flex-wrap: wrap;
	gap: 0 12px;
}

.input-group {
	min-width: 315px;
}

:root {
	/*  Меняем основной цвет библиотеки elementplus */
	--el-color-primary: #e22427 !important;
}

.el-upload {
	width: 150px;
	min-height: 150px;

	display: contents;
	/* background: pink; */
	border: 1px dotted #ddd;
	overflow: hidden;
}
